<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSV File Processor</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <h1>CSV File Processor</h1>
    <form
      method="POST"
      enctype="multipart/form-data"
      action="/uploads"
      id="uploadForm"
    >
      <label for="file1">Choose the first CSV file:</label>
      <input type="file" name="file1" accept=".csv" required />

      <label for="file2">Choose the second CSV file:</label>
      <input type="file" name="file2" accept=".csv" required />

      <button type="submit">Process Files</button>
    </form>
    <div id="result"></div>
    <div id="downloadLinkContainer"></div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#uploadForm").submit(function (e) {
          e.preventDefault();
          var formData = new FormData(this);
          $.ajax({
            type: "POST",
            url: "/uploads",
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
              $("#result").html(response.message);
              // if (response.success && response.message) {
              //   // Create a download link
              //   console.log("Response:", response);
              //   var downloadLink = $("<a>", {
              //     href: "/download/" + response.message, // Assumes a new route for download
              //     text: "Download Merged File",
              //   });
              //   $("#result").append(downloadLink);
              // }
              if (response.success && response.message) {
                // Create a download link
                var downloadLink = $("<a>", {
                  href: response.message,
                  text: "Download Merged File",
                  download: response.message, // Specify the default download filename
                });

                // Append the download link to the container
                $("#downloadLinkContainer").empty().append(downloadLink);
              }
            },
          });
        });
      });
    </script>
  </body>
</html>
