<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Silver Cloud CSV File Merger</title>
    <link
      rel="stylesheet"
      
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
  <body>
    <h1>Silver Cloud File Merger</h1>
    <div id="upload-section">
      <form
        method="POST"
        enctype="multipart/form-data"
        action="/uploads"
        id="uploadForm"
      >
        <div id="upload-item">
          <label for="file1">Upload file with BADGE Number:</label>
          <input type="file" name="file1" />
        </div>

        <div id="upload-item">
          <label id="upload-item" for="file2">Upload file from AOD:</label>
          <input
            id="upload-item"
            type="file"
            name="file2"

          />
        </div>

        <button type="submit">Merge Files</button>
      </form>
      <div id="loadingSpinner" style="display: none;">
        <i class="fas fa-spinner fa-spin"></i> Loading...
      </div>
      <div id="result"></div>
      <div id="downloadLinkContainer"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#uploadForm").submit(function (e) {
          e.preventDefault();
          $("#loadingSpinner").show();

          var formData = new FormData(this);
          $.ajax({
            type: "POST",
            url: "/uploads",
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
              $("#loadingSpinner").hide();
              $("#result").html(response.message);
              if (response.success && response.message) {

                // LIVE SITE
                // let fullPath = response.message;
                
                // //We need to split the file name because python anywhere needs absolute paths, so we have to do it this way
                // let parts = fullPath.split('/csv_project')

                // let path = parts[1]

                // var downloadLink = $("<a>", {
                //   href: path,
                //   text: "Download Merged File",
                //   download: path, // Specify the default download filename
                // });

                //TEST SITE
                // Create a download link
                var downloadLink = $("<a>", {
                  href: response.message,
                  text: "Download Merged File",
                  download: response.message, // Specify the default download filename
                });

                // Append the download link to the container
                $("#downloadLinkContainer").empty().append(downloadLink);
              }
            },
            error: function(){
              $("#loadingSpinner").hide();
            }
          });
        });
      });
    </script>
    <footer>Made by Patrick Rooney at Time Equipment</footer>
  </body>
</html>
